!!!5
html
  head
    title AntArmy
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 AntArmy
    .container
      .main-content
        block content
    footer
      p Copyright 2013 AntArmy