/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #1d953f
background-color = #fbf5ec

body
  font-family 'Georgia'
  background-color background-color
  color black

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color,50%)
  text-shadow 0px -1px 0px darken(main-color, 50%)

.container
  width 800px
  margin 50px auto
  overflow hidden
  border-left 1px dotted #ccc
  border-right 1px dotted #ccc

.main-content
  margin 10px

footer
  width 100%
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  text-align center
  postition relative