#recomTable tr:nth-child(odd)
  background-color #fff
#recomTable tr:nth-child(even)
  background-color #ccc
#recomTable thead td
  background-color  #1d953f
  color white
  height 30px
#recomTable td img
  cursor pointer
#recomTable
  width 100%
a
  text-decoration none
